#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout-header {
    height: 64px;
    padding: 0 50px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 64px;
    background: #001529;
}


 .ant-layout-header, .ant-layout-footer {
     flex: 0 0 auto;
 }
.ttu-color{
    padding: 20px;
    background: #d8da3c;
}